@{
    ViewBag.Title = "UofL Vaccine and International Travel";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5></h5>
        Preventing illness is the cornerstone of healthcare whether at home or when traveling. At the University of Louisville, our focus is on maintaining health and wellness One of the ways we do this is by ensuring that vaccines are available and approaches to health and safety are addressed by those who specialize in immunization, travel medicine, and infection prevention. We welcome you as partners in good health.
        <a href="">Learn more…</a>
    </li>

    <li class="two">
        <h5></h5>
       <iframe width="662" height="472" src="//www.youtube.com/embed/rMdSDe42H-4" frameborder="0" allowfullscreen></iframe>
    </li>

    <li class="three">
        <h5></h5>
        
            Pre-travel consultation
            Vaccines and preventive medication
            Prophylactic medication
            Personal safety during travel
            Management of chronic medical conditions during travel
            In-travel consultation
            Skype and email connections
            Post-travel medical consultation and care
            Illness followup
            Routine adult and adolescent immunization
            On-site business and school immunization events
            Healthcare personnel immunization program development and evaluation
            Immunization and physical examinations requiring a Civil Surgeon
            Ability to access the outpatient pharmacy for the filling of prescriptions or purchase travel-related items suggested by the Centers for Disease Control and Prevention (CDC)
                    <a href="">Learn more…</a>
    </li>
</ol>
